node_modules
dist
.git
.gitignore
README.md
.vscode
.devcontainer
*.log
.env
.env.*
!.env.example
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress
.temp
.docusaurus
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.pnp.*
.yarn